<!-- component -->
<nav class="font-sans flex flex-col text-center content-center sm:flex-row sm:text-left sm:justify-between py-2 px-6 bg-white shadow sm:items-baseline w-full">
  
    <div class="sm:mb-0 self-center nav-item">
      <a [routerLink]="'/'" [class.navbar-active-item]="isActive('/')" class="text-md no-underline text-grey-darker hover:text-blue-dark ml-2 px-1">المجموعـــات</a>
      <a [routerLink]="'/hadites'" [class.navbar-active-item]="isActive('/hadites')" class="text-md no-underline text-grey-darker hover:text-blue-dark ml-2 px-1">الأحاديــــث</a>
      <a [routerLink]="'/contact'" [class.navbar-active-item]="isActive('/contact')" class="text-md no-underline text-grey-darker hover:text-blue-dark ml-2 px-1">تواصـــل</a>
      </div>

      
    <div class="mb-2 sm:mb-0 flex flex-row mx-auto sm:mx-2">
      <div class=" self-center mr-2">
        <img class="w-36 self-center" src="/ahadit.png" />
      </div>
    </div>
  </nav>